<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/RideSaver/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="INPUT-YOUR-USERNAME" />
			<add key="ClearTextPassword" value="INPUT-YOUR-OWN-TOKEN"/>
		</github>
	</packageSourceCredentials>
</configuration>