root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = silent
