version: '3'

services:
    lyft_client:
        build:
            context: .
            dockerfile: Dockerfile

        environment:
            VAULT_ADDR: "http://vault-server:8200"
            VAULT_DEV_ROOT_TOKEN_ID: "vault-plaintext-root-token"

        volumes:
            - ../..:/workspaces:cached

        # Overrides default command so things don't shut down after the process ends.
        command: sleep infinity

        # Uncomment to connect as root instead. More info: https://aka.ms/dev-containers-non-root.
        # user: root

        # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
        # (Adding the "ports" property to this file will not forward from a Codespace.)

        networks:
            - db
    redis:
        image: redis:10.10
        restart: unless-stopped
        networks:
            - db
    mssql:
        image: mcr.microsoft.com/mssql/server:2019-latest
        restart: unless-stopped
        environment:
            SA_PASSWORD: P@ssw0rd
            ACCEPT_EULA: Y
        networks:
            - db
    memcached:
        image: memcached:1.6-alpine
        restart: unless-stopped
        networks:
            - db
    vault:
        image: vault:1.12.1
        networks:
            - db
        ports:
            - "8200:8200"
        environment:
            VAULT_ADDR: "http://0.0.0.0:8200"
            VAULT_DEV_ROOT_TOKEN_ID: "vault-plaintext-root-token"
        cap_add:
            - IPC_LOCK
